/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/app/mtproto/*
!/storage/app/mtproto/.gitignore
MadelineProto.log
*.madeline
*.madeline.lock
*.madeline.safe
*.madeline.tmp
